@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

body {
    font-family: 'Baumans';
    font-weight: lighter;
    background-color: #080708;
    color: #FFFFFF;
}

.gridcontainer {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  max-height: 400px;
  min-height: 400px;
  
}

.griditem {
  flex: 1 1 400px;
  min-height: 250px; 
  border-radius: 20px;
  padding: 20px;
  background-color: #FDCA40;
}