
.sidecontainer {
    background-color: #DF2935;
  display: flex;
  flex-direction: column;   
  justify-content: space-between;
  align-items: center;      
  flex-shrink: 0;
  flex-grow: 0;
  width: 300px;
  min-height: 100%;
  position: sticky;
  top: 0;
  padding: 1rem;            
  box-sizing: border-box;   
}

.logoimg {
    width: 120px;
    height: 120px;
    margin: auto;
    gap: 40px;
}
.imgtxt {
    display: flex;
}

.imgtxt h4{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;

}

.createicon {
    margin-top: 10px;
    margin-right: 10px;
    width: 36px;
    height: 36px;
}

.viewicon {
    margin-top: 18px;
    width: 40px;
    height: 24px;
    margin-right: 10px;
}

.foldericon {
    margin-top: 12px;
    margin-right: 12px;
    width: 36px;
    height: 30px;
}

.middlecontainer {
    display: flex;
    flex-direction: column;
}

.middlecontainer h5 {
    font-size: 18px;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

.addcontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sampleimg {
    display: flex;
    margin-left: 30px;
}

.samplecontainer p {
    font-weight: bold;
    margin-left: 60px;
}

.staricon {
    margin-top: 10px;
    margin-right: 12px;
    width: 35px;
    height: 35px;
}

.folderdiv {
    display: flex;
    flex-direction: column;
}

.foldertxt {
    display: flex;
    margin-left: 30px;
    margin-bottom: 10px;
}

.foldertxt > img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

.markericon {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.starfoldicon {
    margin-top: 10px;
    width: 40px;
    height: 35px;
    margin-right: 10px;
}


.bottomcontainer {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 40px;
}

.sptxt {
    display: flex;
    font-size: 24px;
    margin-bottom: 20px;
}


.abouticon {
    width: 50px;
    height: 60px;
    margin-top: 12px;
    margin-right: 14px;
}

.settingsicon {
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-right: 14px;
}